<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../assets/import/jquery/dist/jquery.min.js"></script>
    <script src="../assets/js/navbar.js" async></script>
    <script src="../assets/import/fontawesome/css/all.min.css"></script>
    <link rel="stylesheet" href="../assets/import/bootstrap/css/bootstrap.min.css">
    <script src="../assets/import/bootstrap/js/bootstrap.min.js" async></script>
    <link rel="stylesheet" href="../assets/styles/principal.css">
    <title>Home - Social Medica</title>

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light navbarapplication font-weight-normal ">
                <a class="navbar-brand" href="#">
                        <!--<a href="http://www.visualmedica.com"><img src="../assets/images/logo.png" class="imgHeader" ></a>-->

                        <span>.</span>
            
                <button  id="botonmenu"class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                </a>
            
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            
                </div>
            
            
              </nav>
            

        <div id="alerplaceholder"></div>

<div class=" jumbotron container">

    <div class="row">


        <div class="col-md-3">

            <img src="../assets/images/user.png" class="imagehome">

        </div>

        <div class="col-md-8 divnombrehome">

            <h3 class="titulo">Name Surname</h3>

        </div>



    </div>


</div>


<div class="jumbotron container">

    <div class="row containerhomeestados">

        <div class="col-md-4 divshomeestados ">
            Favoritos
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="col-md-4 divshomeestados">
            Mensajes
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="col-md-4 divshomeestados">
            Balance
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

    </div>

</div>





    <script>
   $( document ).ready(function() {    
    menu();     


 })




	/*$.get("navbar.html", function(data){
		$("#navbarSupportedContent").replaceWith(data);
	});*/

    </script>
</body>
</html>