<!DOCTYPE html>
<html lang="en">
<head>
        <script src="../assets/import/jquery/dist/jquery.min.js" ></script>
        <link rel="preconnect" href="http://localhost:3800">
        <link rel="stylesheet" href="../assets/import/bootstrap/css/bootstrap.min.css">
        <script src="../assets/import/bootstrap/js/bootstrap.min.js" async></script>
        <script src="../assets/import/formvalidator/dist/jquery.validate.min.js" ></script>
        <script src="../assets/js/login.js" async></script>
        <link rel="stylesheet" href="../assets/styles/principal.css">
        <link rel="stylesheet" href="../assets/import/fontawesome5/css/all.min.css">
        <!-- Start of  Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5f5f1e68-99a1-47f6-913b-bebfbba4a5ce"> </script>
<!-- End of  Zendesk Widget script -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Medica - Log In</title>
</head>
<body>
    
    <div class="progress1 " id="loading" style="display:none">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>


        <div id="alerplaceholder"></div>
<div class="jumbotron"></div>

    <div class="jumbotron">
            
            <form class="col-md-6 registrousuario" style="margin:auto;" id="registoruser"> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Email</label>
                        <input class="form-control" id="email" placeholder="ejemplo@ejemplo.com" minlength="5" type="text" required name="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname">Contraseña</label>
                        <input type="password" class="form-control" id="password1" minlength="5" placeholder="password" required name="password">
                    </div>
                </div>
                <button class="btn btn-primary"  onclick="login()" >Loguear</button>
                </form>
            </div>
    </div>

    <script>

        function validar(){
            console.log("si");
            $.getScript('../assets/js/config.js').done(function(){
             login();
    });
}
    </script>
</body>
</html>