<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="http://localhost:3800">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/js/perfilempresa.js" async></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Medica - Perfil</title>
    <link rel="stylesheet" href="../assets/import/bootstrap/css/bootstrap.min.css">
    <script src="../assets/import/bootstrap/js/bootstrap.min.js" async></script>
    <link rel="stylesheet" href="../assets/styles/principal.css">
    <script src="../assets/js/navbar.js" async></script>
</head>
<body id="body">

        <nav class="navbar navbar-expand-lg navbar-light navbarapplication font-weight-normal ">
                <a class="navbar-brand" href="#">
                        <!--<a href="http://www.visualmedica.com"><img src="../assets/images/logo.png" class="imgHeader" ></a>-->

                        <span>.</span>
            
                <button  id="botonmenu"class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                </a>
            
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            
                </div>
            
            
              </nav>



<div class="jumbotron container animated fadeIn">

<div class="row divperfilempresa">


<div class="col col-md-6">

    <img src="../assets/images/empresa.png" class="imageperfil" >

    <h6 class="nombreempresa">Nombre de la empresa</h6>

</div>


<div class="col col-md-6">
        <h6 class="nombreempresa">Cumplimiento</h6>
    <div class="progress progressbar">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>

</div>


</div>


</div>


<div class="jumbotron container">

<h6>Domicilio:</h6>
<h6>Tiempo de respuesta:</h6>
<h6>Telefono:</h6>
<h6>Contacto:</h6>
<h6>Forma de Pago:</h6>
<h6>Equipamiento:</h6>



</div>






    <script defer="defer">
$( document ).ready(function() {   
    menu();    
});
    renderview();
    </script>
    
</body>
</html>